
@{
    ViewBag.Title = "Confirmar Reset";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Confirmação de email</h4>
            </div>
            <div class="content">

            @if (@ViewBag.email != null)
            {
                    <form method="post" asp-controller="Autenticacao" asp-action="GenerateNewPassword">
                        <input type="hidden" value="@ViewBag.email" name="email" />
                        <button class="btn">Confirmar</button>
                    </form>
                }
                else
                {
                    <div class="alert alert-danger">
                        Nenhum utilizador valido para esta operação.
                    </div>
                }
            </div>
        </div>
    </div>
</div>