@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Obrigado por confirmar a sua conta.  <a asp-controller="Autenticacao" asp-action="Login">Carregue aqui para fazer Login</a>.
    </p>
</div>
