@{
    ViewData["Title"] = "Confirmação de recuperação de password";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Recuperação de password</h4>
            </div>
            <div class="content">
                <p>
                    Por favor verifique o seu email.
                </p>
            </div>
        </div>
    </div>
</div>