@model int

@{
    ViewBag.Title = "Recuperação de password";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Recuperação de password</h4>
            </div>
            <div class="content">

                @if (ViewBag.result == 1)
                {
                    <div class="alert alert-success">
                        Reset password concluido
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Algo correu mal na mudança da password
                    </div>
                }


            </div>
        </div>
    </div>
</div>