@model int

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Reset Password</h2>


@if (ViewBag.result == 1)
{
    <div class="alert alert-success">
        Reset password concluido
    </div>
}
else
{
    <div class="alert alert-danger">
        Algo correu mal na mudança da password
    </div>
}


@if (ViewBag.result == 2)
{
    <h1>dsdasdsads</h1>
}