@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">

            <div class="container">
                <h4>Reponha a sua password.</h4>
                <hr />
                <p>
                    A sua password foi alterada. <a asp-controller="Autenticacao" asp-action="Login">Carregue aqui para fazer Login</a>.
                </p>
            </div>
        </div>
    </div>
</div>