body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}



.w3-theme-l5 {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-l4 {color:#000 !important; background-color:#d8dcf1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#b1b8e3 !important}
.w3-theme-l2 {color:#fff !important; background-color:#8995d6 !important}
.w3-theme-l1 {color:#fff !important; background-color:#6271c8 !important}
.w3-theme-d1 {color:#fff !important; background-color:#3949a3 !important}
.w3-theme-d2 {color:#fff !important; background-color:#334191 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2d397f !important}
.w3-theme-d4 {color:#fff !important; background-color:#26316d !important}
.w3-theme-d5 {color:#fff !important; background-color:#20295b !important}

.w3-theme-light {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-dark {color:#fff !important; background-color:#20295b !important}
.w3-theme-action {color:#fff !important; background-color:#20295b !important}

.w3-theme {color:#fff !important; background-color:#3f51b5 !important}
.w3-text-theme {color:#3f51b5 !important}
.w3-border-theme {border-color:#3f51b5 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#3f51b5 !important}
.w3-hover-text-theme:hover {color:#3f51b5 !important}
.w3-hover-border-theme:hover {border-color:#3f51b5 !important}