@{
    ViewData["Title"] = "About";
}


<div class="w3-container">
    <br/>
    <h2>Manual Utilizador</h2>

    <div class="w3-row">
        <a href="javascript:void(0)" onclick="openCity(event, 'autenticacao');" id="defaultOpen">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Autenticação</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'helpdesk');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Helpdesk</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'perfilCliente');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Perfil Cliente</div>
        </a>
    </div>

    <div id="autenticacao"  class="w3-container city" style="display: none">
        
        
        <div style="padding-top: 20px" class="panel-group" id="accordionAutenticacao">
            <div class="panel panel-default ">
                <div class="panel-heading w3-hover-indigo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionAutenticacao" href="#collapse1">
                            Registar
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>O processo de registo &eacute; muito simples. Primeiro abra a p&aacute;gina da AirUber. Ir&aacute; aparecer um ecr&atilde; semelhante &agrave; seguinte figura.</p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Home.png" /></p>
                        <p>Em seguida selecione a aba onde diz registar no canto superior direito.</p>
                        <p><img class="w3-round  w3-border" style="width: 60%;" src="../images/tutorial/Registar.png" /></p>
                        <p>Para se registar como um cliente e poder usufruir das ofertas de voo da AirUber selecione o bot&atilde;o &lsquo;Sign up&rsquo; no quadrado do lado esquerdo. Caso seja uma companhia e tem intens&atilde;o de se juntar &agrave; AirUber selecione &lsquo;Sign up as a company&rsquo;.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading w3-hover-indigo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionAutenticacao" href="#collapse2">
                            Registar Como Cliente
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/RegisterClient.png" /></p>
                        <p>O formulário de registo deve ser preenchido corretamente e em seguida deverá carregar no botão Register. Um mail será enviado para a conta de email indicada para efetuar a confirmação da conta.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading w3-hover-indigo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionAutenticacao" href="#collapse3">
                            Registar Como Companhia
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/RegisterCompany.png" /></p>
                        <p>O formulário de registo deve ser preenchido corretamente e em seguida deverá carregar no botão Register. Um mail será enviado para a conta de email indicada para efetuar a confirmação da conta.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading w3-hover-indigo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionAutenticacao" href="#collapse4">
                            Login
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Após estar registado na plataforma deverá proceder à sua autenticação como utilizador. Primeiro abra a página da AirUber.</p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Home.png" /></p>
                        <p>Seleciona a aba ‘Entrar’ situada no canto superior direito.</p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Login.png" /></p>
                        <p>Introduza o email e password que utilizou no ato de registo.<br/>
                            Caso tenha interesse em manter o login guardado, seleciona a opção ‘Remember me?’. <br />
                            Carregue na opção entrar.<br />
                            Se ainda não realizou o registo de utilizador selecione ‘Não tem uma conta? Cadastre-se’ e siga o tópico Registar. <br />
                            Se já não se lembra da password do utilizador selecione ‘Esqueci a senha’.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading w3-hover-indigo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionAutenticacao" href="#collapse5">
                            Recuperar A Password
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Depois de ter selecionado a opção de recuperação deverá aparecer o seguinte ecrã.</p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Recuperar senha.png" /></p>
                        <p>Indique o email que utilizou no ato de registo e selecione ‘Recuperar’. </p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Recuperar senha confirmação.png" /></p>
                        <p>Um mail será enviado para a caixa de correio da conta de email indicada com um link para reset da password.</p>
                        <p><img class="w3-round w3-border" style="width: 60%;" src="../images/tutorial/Reset Password.png" /></p>
                        <p>Depois de ir ao link aparecerá uma página com o formulário de Reset da password. Indique novamente o email e insira a nova password. Selecione ‘Reset’. A password ficará então alterada.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="helpdesk" class="w3-container city" style="display: none">
        <h2>Em manutenção</h2>
        
    </div>

    <div id="perfilCliente" class="w3-container city" style="display: none">
        <h2>Em manutenção</h2>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-indigo", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-indigo";
    }

    document.getElementById("defaultOpen").click();
</script>

