@{
    ViewData["Title"] = "AirUber";
    Layout = "_NovoLayout";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="jumbotron text-center">
   
                        <div class="header">

                            <div>
                                <img style="height: 150px; margin-top: 10px" src="images/logo.png" />
                                <h1>AirUber</h1>
                            </div>
                            <h4 class="title">AirUber</h4>
                            <p class="category">Travel with us.</p>


                        </div>

                        <div class="container-fluid text-center" style="margin-top: 40px" ">

                            <div class="card col-lg-6 col-lg-offset-3">

                                <img class="image" style="margin-top: 20px" src="images/jet.jpg" alt="Norway">

                                <p class="content">Have the best jets in the world</p>

                            </div>

                            <div class="card col-lg-6 col-lg-offset-3">


                                <img class="image" style="margin-top: 20px" src="images/7098575-World-map-of-airline-airplane-flight-travel-plans--Stock-Vector-routes.jpg" alt="Norway">

                                <p class="content">Travel to anywere</p>

                            </div>

                            <div class="card col-lg-6 col-lg-offset-3">


                                <img class="image" style="margin-top: 20px" src="images/timetravel.jpg" alt="Norway">

                                <p class="content">Save time and money</p>

                            </div>



                        </div>
                    </div>
              
            </div>
       
    </div>
</div>