@{
    ViewData["Title"] = "AirUber";
    Layout = "_NovoLayout";
}
<link href="~/assets/css/full-width-pics.css" rel="stylesheet">

<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->

<div class="content">
    <div class="container-fluid">

        
        <img class="img-responsive img-center" src="images/logo.png" alt="">
        
        <!-- Content Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="section-heading">Âmbito</h1>
                        <p class="lead section-lead">Conectando cliente a companhias aéreas.</p>
                        <p class="section-paragraph">Este sistema adota a filosofia Uber, numa plataforma web, onde existe uma procura de jatos privados. Assim sendo, esta plataforma pretende juntar clientes com companhias aéreas de jatos privados. Neste produto as companhias inscrevem-se na plataforma e disponibilizam os seus aviões, sendo estes responsáveis pela atualização destes dados. O cliente apenas tem de pesquisar por um voo e escolher um dos jatos privados disponíveis juntamente com um subconjunto de extras dos disponibilizados pelo jato. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fixed Height Image Aside -->
        <!-- Image backgrounds are set within the full-width-pics.css file. -->
        <aside class="image-bg-fixed-height"></aside>
        <!-- Content Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="section-heading">Benefícios</h1>
                        <p class="lead section-lead">Para a companhia na plataforma:</p>
                        <p class="section-paragraph">
                            
                            <ul>
                                <li>
                                    Não existe a preocupação na gestão de recursos (jatos, pilotos, staff) das companhias que se associam à plataforma
                                </li>
                                <li>
                                    Apenas tem de se preocupar com a gestão de voos
                                </li>
                                <li>
                                    Não existe a dependência de uma frota de jatos própria
                                </li>
                                <li>
                                    Sistema integrado que permite a fácil resolução de problemas do sistema (helpdesk)
                                </li>
                                <li>
                                    Sistema simples e de fácil expansão
                                </li>
                                <li>
                                    Sem preocupações com os pagamentos, porque a responsabilidade dos pagamentos é do serviço usado
                                </li>
                            </ul>

                        <p class="lead section-lead">Para o cliente viajante na plataforma:</p>
                            
                            <ul>
                                <li>
                                    Pagamentos realizados online, deixando o cliente despreocupado em realizar o pagamento com dinheiro vivo
                                </li>
                                <li>
                                    Aluguer rápido e fácil
                                </li>
                                <li>
                                    Disponível um sistema para esclarecer todas as dúvidas do cliente
                                </li>
                                <li>
                                    Acesso ao seu perfil
                                </li>
                                <li>
                                    Possibilidade de fazer uma viagem num curto espaço de tempo
                                </li>
                            </ul>
                            

                        </p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
    </div>
   
</div>



