@model IEnumerable<Notificacao>

@{
    ViewBag.Title = "Notificações";
    Layout = "_NovoLayout";
}


<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Notifications</h4>
              
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Toda as notificações</h5>
                        
                        @foreach (Notificacao notificacao in Model)
                        {
                            <div class="alert alert-@notificacao.Tipo">
                                <span>@notificacao.Mensagem</span>
                            </div>
                        }

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
