

@{
    ViewBag.Title = "Reserva";
    Layout = "_Layout";
}

<h2>A sua reserva não foi efetuada com sucesso</h2>
<h5>Algo correu mal no ato da reserva tente novamente ou contacte o helpdesk através da janela de pedido de informação</h5>
<h6>@ViewData["erro"]</h6>