

@{
    ViewBag.Title = "Reserva";
    Layout = "_Layout";
}

<h2>A sua reserva foi efetuada com sucesso</h2>
<h5>Deverá aguardar a validação pela companhia selecionada para aprovação e disponibilização do pagamento.</h5>
