@model AirUberProjeto.Models.Extra

@{
    ViewData["Title"] = "Criar extra";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Criar Extra</h4>
                        <p class="category">Insira os dados do extra</p>
                    </div>

                    <div class="content">
                        <form asp-action="CriarExtra" method="post" class="form-vertical">
                            <div>

                                <div class="form-group">
                                    <label asp-for="Nome" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Nome" class="form-control" />
                                        <span asp-validation-for="Nome" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Valor" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Valor" class="form-control" />
                                        <span asp-validation-for="Valor" class="text-danger" />
                                    </div>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CompanhiaId" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <select asp-for="CompanhiaId" class="form-control" asp-items="ViewBag.CompanhiaId" disabled></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoExtraId" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <select asp-for="TipoExtraId" class="form-control" asp-items="ViewBag.TipoExtraId"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Criar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div>
                            <a class="btn" asp-action="VerExtras">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
