@model AirUberProjeto.Models.Companhia

@{
    ViewData["Title"] = "EditarPerfil";
}

<h2>EditarPerfil</h2>

<form asp-action="EditarPerfil">
    <div class="form-horizontal">
        <h4>Companhia</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompanhiaId" />
        <div class="form-group">
            <label asp-for="ContaDeCreditosId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ContaDeCreditosId" class="form-control" asp-items="ViewBag.ContaDeCreditosId"></select>
                <span asp-validation-for="ContaDeCreditosId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataCriacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstadoId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Morada" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Morada" class="form-control" />
                <span asp-validation-for="Morada" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nif" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaisId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                <span asp-validation-for="PaisId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
