@model AirUberProjeto.Models.Jato

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<form asp-controller="Companhia" asp-action="EditarJatos" method="post" class="form-vertical">
    <input type="hidden" asp-for="JatoId" />
    <div class="form-horizontal">
        <h4>Jato</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AeroportoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AeroportoId" class="form-control" asp-items="ViewBag.aeroportos"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanhiaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanhiaId" type="text" class="form-control" value=@ViewBag.companhia disabled />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModeloId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ModeloId" class="form-control" asp-items="ViewBag.modelos"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="CreditosPorKilometro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditosPorKilometro" class="form-control" />
                <span asp-validation-for="CreditosPorKilometro" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CreditosBase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditosBase" class="form-control" />
                <span asp-validation-for="CreditosBase" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DistanciaMaxima" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DistanciaMaxima" class="form-control" />
                <span asp-validation-for="DistanciaMaxima" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TempoPreparacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TempoPreparacao" class="form-control" />
                <span asp-validation-for="TempoPreparacao" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="VelocidadeMedia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VelocidadeMedia" class="form-control" />
                <span asp-validation-for="VelocidadeMedia" class="text-danger" />
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div class="panel panel-default">
    <div class="panel-heading">Personalização</div>
    <div class="panel-body">
        <form asp-controller="Companhia" asp-action="AlterarImagemJato" asp-route-id="@Model.JatoId" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-vertical" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Imagem:</label>
                <input type="file" accept=".jpg,.png" name="file" id="file" />
                <input type="submit" value="Alterar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VerJatos">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
